// 1px line colors
$line-color: #EBEEF5;
// background color
$bg-color: #F7F8FA;
// font color
$font-color: #383640;
// top back bar right text color
$bar-right-color: #97A2B9;
// info colors
$info-color: #C6CCD5;

$bg-fff-color: #fff;

$main-color: #409EFF;

$block-color: #FEFEFF;

$hover-color: #ECF5FF;


// bg tips colors
$bg-ok-color: #00DBCC;

$bg-error-color: #FF4575;

$gary: #F8F8F9;

$table-header: #F4F6F9;

$menu_bkg: #293754;

// dialog
$title_color_333: #333333;
$content_color_d9d9d9: #d9d9d9;
